$primary-color: #333;
$main-color:#FFFFFF;
$features-color:#F6F6F6;
$button-sign_in:#F53855;
$little-maim-text-color: #4F5665;
body {
    width: 100%;
    margin: 0;
}

.main-page {
    background-color: $main-color;
    height: 1100px;
    width: 100%;
}

header {
    .header {
        .sign_up {
            width: 150px;
            height: 45px;
            border: 1px solid $button-sign_in;
            border-radius: 50px;
            color: $button-sign_in;
        }
    }
}

.text {
    color: $little-maim-text-color;
}

.features-page {
    background-color: $features-color;
    height: 2083px;
}